models/.streamlit/secrets.toml
.streamlit/secrets.toml
notebooks/strava.ipynb
.env
main.py
scripts/test_scott.py
scripts/diagnosesheet.py
main.py
output.csv
view_fulldf.csv
zones_df_output.csv
output_getrunnerdata.csv
data/runner_data.xlsx
link to strava api.txt
autosync_notes.txt