streamlit
gspread
oauth2client
# pandas
plotly
scikit-learn
wordcloud
# requests
# ZoneInfo
# zoneinfo

folium
streamlit_folium 
polyline


pandas>=2.0.0
requests>=2.28.0
supabase>=2.0.0
python-dotenv>=1.0.0